.Header
{
    height: 20%;
    width: 100%;
    background-color: #1a1816;
    color: Orange;

}
.Footer {
    height: 20%;
    width: 100%;
}
.Navigation {
    height: 60%;
    width: 40%;
}
.Content{
    height: 60%;
}